---
layout: default
---

<div class="post-header mb2">
  {% if page.hide_title %}
	<!-- title is hide -->
  {% else %}
  <h1 class="py1">{{ page.title }}</h1>
  {% endif %}
  <span class="post-meta">{{ page.date | date: "%m月 %d日, %Y" }}</span><br>
  {% if page.update_date %}
    <span class="post-meta">Updated: {{ page.update_date | date: "%m月 %d日, %Y" }}</span><br>
  {% endif %}
  <!-- <span class="post-meta small">{{ minutes }} minute read</span> -->
</div>

<article class="post-content">
  {{ content }}
  <h5>#原文地址：<a href="{{ site.url }}{{ page.url }}">《{{ page.title }}》</a> By <a href="{{ site.url }}">{{ site.author }}</a></h5>
</article>

{% if site.show_post_footers %}
  {% include post_footer.html %}
{% endif %}

{% if site.show_related_posts %}
  <h3 class="related-post-title">Related Posts</h3>
  {% for post in site.related_posts %}
    <div class="post ml2">
      <a href="{{ post.url | prepend: site.baseurl }}" class="post-link">
        <h4 class="post-title">{{ post.title }}</h4>
        <p class="post-summary">{{ post.summary }}</p>
      </a>
    </div>
  {% endfor %}
{% endif %}
